<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="container">
  <h1>Welcome!</h1>
  <p>Welcome to Self-Monitoring Application made by Kusti Hämäläinen at December 2020 for course project.</p>
  <p>This website is for monitoring daily well-being and lifestyle. When logged in, you can see a trend of your mood today and yesterday.</p>
  <p>Report your feelings from mornings or evenings at "Behavior reporting" and inspect your weekly or monthly feelings at "Summaries".</p>

  <% if (!loggedIn) { %>
  <ul>
    <li>
      <a href="/auth/login">Already registered? Sign in!</a>
    </li>
    <li>
      <a href="/auth/registration">Don't have an account yet? Sign up!</a>
    </li>
  </ul>
  <% } else { %>
    <div class="card">
      <div class="card-header">
        <h2><%= glimpse.greet %></h2>
      </div>
      <div class="card-body">
        <p>Your average mood today: <%= glimpse.mood_today %></p>
        <p>Your average mood yesterday: <%= glimpse.mood_yesterday %></p>
      </div>
    </div>
  <% } %>

  <p>We also offer an API, accessible without registration <a href="/api/summary">here</a></p>
  <p>and another to retrieve data from a specific day at the same address, but with "/year/month/day" in the end of the URL.</p>
</div>

<%- include('./partials/footer.ejs') %>